<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Archivo .asm</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" placeholder="Insertar programa en Assembler"></textarea>
</div>

<button type="button" class="btn btn-success">Compilar</button>


<button type="button" class="btn btn-danger">Cargar</button>


<div class="alert alert-success" role="alert">
    Programa enviado!
</div>


<div class="alert alert-danger" role="alert">
    Fallo la compilacion
</div>


<hr>

<div style="text-align: center;">
    <button type="button" class="btn btn-dark disabled">Run</button>

    <button type="button" class="btn btn-primary">Step</button>
</div>


<hr>