<!-- <div class="container">
    <hr>
    <ng-content></ng-content>
    <table class="table table-bordered table-active">
        <tbody>
            <tr *ngFor="let item of column1; index as i">
                <td>{{reg}}({{[i]}}) = {{ column1[i] }}</td>
                <td>{{reg}}({{[i+8]}}) = {{ column2[i] }}</td>
                <td>{{reg}}({{[i+16]}}) = {{ column3[i] }}</td>
                <td>{{reg}}({{[i]}}) = {{ column4[i] }}</td>
            </tr>
        </tbody>
    </table>
</div> -->


<div class="container">
    <hr>
    <ng-content></ng-content>
    <div class="container table">
        <div class="row ">
            <div class="col col-3 td" *ngFor="let item of data; index as i">
                {{reg}}({{[i]}}) = {{ item }}
            </div>
        </div>
    </div>
</div>