<div class="container">
    <div class="row">
        <div class="card-columns">
            <div class="card border-primary">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title align-content-center">PC</h4>
                    <p class="card-text">{{PC}}</p>
                </div>
            </div>
            <div class="card border-primary">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Iteraciones</h4>
                    <p class="card-text">{{iteration}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="row"> -->


<!-- <div class="card">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>Quote</p>
                <footer class="card-blockquote">Footer<cite title="Source title">Source title</cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card text-white bg-primary">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>

    <div class="card text-left">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Body</p>
      </div>
    </div> -->

<!-- <div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">PC</h4>
            <p class="card-text">{{PC}}</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Iteracion</h4>
            <p class="card-text">{{iteration}}</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Iteracion</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>
</div> -->